.banner-contato {
	margin-top: 80px;
	height: 200px;
	background: url("../images/banner-contato.png") no-repeat center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	
	h2 {
		color: $color-three;
		@include font-size(40px);
		text-transform: lowercase;
		font-family: $text-bold;
		
		&:after {
			content: '';
			display: block;
			width: 70px;
			margin: auto;
			height: 3px;
			background: $color-one;
		}
	}
}

.secao-contato-geral {
	padding: 50px 0 0 0;
	@include background-radial;
	color: $color-one;
	
	p {
		@include font-size(20px);
		line-height: 32px;
	}
	
	.box-modelo-negocios {
		font-family: $text-bold;
		margin-bottom: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@media (max-width: 991px) {
			flex-direction: column;
		}
		
		div {
			width: 30%;
			
			@media (max-width: 991px) {
				width: auto;
			}
		}
		
		.box-modelo-negocios__texto {
			padding-right: 60px;
			
			@media (max-width: 991px) {
				text-align: center;
				padding-right: 0;
			}
		}
		
		.box-modelo-negocios__destaque {
			text-align: center;
			margin: 0 30px;
			
			@media (max-width: 991px) {
				margin: 40px 0;
			}
			
			p {
				@include font-size(30px);
			}
		}
		
		.box-modelo-negocios__botao {
			
			button {
				display: block;
				margin-left: auto;
			}
		}
	}
	
	.contato-informacoes-gerais {
		margin-bottom: 100px;
		display: flex;
		justify-content: space-between;
		
		@media (max-width: 991px) {
			flex-direction: column;
			text-align: center;
		}
		
		.contato-informacoes-gerais__texto {
			width: 50%;
			padding-right: 100px;
			
			@media (max-width: 991px) {
				width: auto;
				padding-right: 0;
			}
			
			h3 {
				@include font-size(30px);
				font-family: $text-bold;
				margin-bottom: 30px;
			}
			
			p {
				margin-bottom: 30px;
			}
			
			a {
				color: $color-three;
				text-decoration: none;
			}
		}
		
		.contato-mapa {
			display: flex;
			align-items: flex-end;
			
			@media (max-width: 991px) {
				flex-direction: column;
				align-items: inherit;
				margin-top: 50px;
			}
			
			.contato-mapa__endereco {
				
				address {
					text-align: right;
					font-style: inherit;
					@include font-size(18px);
					line-height: 26px;
					
					@media (max-width: 991px) {
						text-align: center;
						margin-bottom: 30px;
					}
					
					h4 {
						text-transform: uppercase;
						font-family: $text-bold;
						font-size: inherit;
					}
				}
			}
			
			.contato-mapa__mapa {
				width: 400px;
				margin-left: 30px;
				
				@media (max-width: 991px) {
					width: auto;
					margin-left: 0;
				}
			}
		}
	}
}