footer {
	.footer-copyright {
		background: $color-three;
		padding: 25px 0;
		color: $color-one;
		
		a {
			text-decoration: none;
			@include transition(.5s);
			
			&:hover {
				color: $color-two;
			}
		}
	}
}

.footer-upper * {
	@include font-size(18px);
	text-align: left;
}

.footer-upper {
	background: rgba(0, 0, 0, .5);
	padding: 50px 0;
	
	
	.footer-brand {
		width: 135px;
	}
	
	.footer-endeavor img {
		margin-top: 30px;
		width: 170px;
	}
	
	.footer-image {
		width: 40px;
		height: 40px;
		display: block;
		margin-bottom: 30px;
		
		img {
			height: 40px;
		}
		
		&:after {
			content: '';
			display: block;
			width: 20px;
			height: 2px;
			background: $color-one;
			position: relative;
			top: 5px;
		}
	}
	
	.footer-info h4 {
		text-transform: uppercase;
		font-family: $text-bold;
		margin-bottom: 10px;
	}
}

.footer-news {
	h4 {
		font-family: $text-bold;
		margin-bottom: 30px;
		@include font-size(20px);
	}
	
	input {
		border: 0;
		border-bottom: 2px solid $color-one;
		background: transparent;
		height: 40px;
		padding: 5px;
		outline: 0;
		color: $color-one;
		font-family: $text-bold;
		width: 90%;
	}
	
	input::-webkit-input-placeholder {
		font-family: $text-bold;
		color: rgba(255, 255, 255, .2);
	}
	
	button {
		border: 2px solid $color-one;
		background: rgba(255, 255, 255, .2);
		color: $color-one;
		text-transform: lowercase;
		font-family: $text-bold;
		padding: 10px 25px;
		margin-top: 30px;
		cursor: pointer;
	}
}