.banner-investidor {
	margin-top: 80px;
	background: url("../images/banner-investidor.png") no-repeat;
	background-size: cover;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	h2 {
		color: $color-three;
		@include font-size(40px);
		text-transform: lowercase;
		font-family: $text-bold;
		
		&:after {
			content: '';
			display: block;
			width: 70px;
			margin: auto;
			height: 3px;
			background: $color-one;
		}
	}
}

.section-investidores-sobre {
	@include background-radial;
	padding: 100px 0;
	
	.investidores-sobre__destaque {
		padding-right: 50px;
		
		h3 {
			font-family: $text-bold;
			@include font-size(32px);
			margin-bottom: 30px;
		}
		
		p {
			text-align: left;
			font-family: $text-regular;
			@include font-size(20px);
		}
	}
	
	.investidores-sobre__topicos {
		
		img {
			width: auto;
			max-width: 100%;
			display: block;
			margin: auto;
		}
		
		p {
			text-align: center;
			margin-top: 15px;
			@include font-size(20px);
		}
	}
	
}

.section-investidores-depoimento {
	background: $color-two;
	position: relative;
	
	.investidores-depoimento__img-container {
		width: 80%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50px;
		@include transform(translatey(-25px));
		
		@media (max-width: 1199px) {
			width: auto;
		}
		
		@media (max-width: 991px) {
			position: relative;
		}
		
		img {
			display: block;
			width: 100%;
			margin: auto;
			
			@media (max-width: 991px) {
				width: 30%;
			}
			
			@media (max-width: 575px) {
				width: 50%;
			}
		}
	}
	
	.investidores-depoimento__texto {
		padding: 30px 50px;
		
		@media (max-width: 1199px) {
			padding: 30px 0 30px 15px;
		}
		
		@media (max-width: 991px) {
			text-align: center;
		}
		
		p {
			@include font-size(24px);
			font-family: $text-regular;
			text-overflow: ellipsis;
		}
		
		h4 {
			color: $color-three;
			font-family: $text-bold;
			@include font-size(20px);
			margin-top: 50px;
			
			&:before {
				content: '';
				display: block;
				width: 60px;
				height: 2px;
				background: $color-one;
				position: relative;
				top: -10px;
				
				@media (max-width: 991px) {
					left: 50%;
					@include transform(translatex(-50%));
				}
			}
		}
	}
}

.section-form-investidores {
	padding: 100px 0 0 0;
	
	.form-investidores {
		margin-bottom: 150px;
		margin-left: 100px;
		width: 50%;
		text-align: center;
		
		@media (max-width: 1199px) {
			width: 70%;
		}
		
		@media (max-width: 991px) {
			width: 100%;
			margin-left: 0;
		}
		
		h3 {
			@include font-size(30px);
			font-family: $text-bold;
			margin-bottom: 30px;
		}
		
		p {
			margin-bottom: 30px;
			line-height: 20px;
			padding: 0 50px;
			
			@media (max-width: 575px) {
				padding: 0;
			}
		}
		
		form {
			width: 60%;
			margin: auto;
			
			@media (max-width: 575px) {
				width: 100%;
			}
			
			input {
				width: 100%;
				border: 0;
				border-bottom: 2px solid $color-one;
				background: transparent;
			}
		}
		
		.form-campo-obrigatorio {
			text-align: left;
			padding: inherit;
		}
	}
}