.banner-investidor {
	margin-top: 80px;
	background: url("../images/banner-investidor.png") no-repeat;
	background-size: cover;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	h2 {
		color: $color-three;
		@include font-size(40px);
		text-transform: lowercase;
		font-family: $text-bold;
		
		&:after {
			content: '';
			display: block;
			width: 70px;
			margin: auto;
			height: 3px;
			background: $color-one;
		}
	}
}

.section-investidores-sobre {
	@include background-radial;
	padding: 100px 0;
	
	.investidores-sobre__destaque {
		padding-right: 50px;
		
		h3 {
			font-family: $text-bold;
			@include font-size(32px);
			margin-bottom: 30px;
		}
		
		p {
			text-align: left;
			font-family: $text-regular;
			@include font-size(20px);
		}
	}
	
	.investidores-sobre__topicos {
		
		img {
			width: auto;
			max-width: 100%;
			display: block;
			margin: auto;
		}
		
		p {
			text-align: center;
			margin-top: 15px;
			@include font-size(20px);
		}
	}
	
}

.section-investidores-depoimento {
	background: $color-two;
	position: relative;
	
	.investidores-depoimento__img-container {
		width: 80%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50px;
		@include transform(translatey(-25px));
		
		@media (max-width: 1199px) {
			width: auto;
		}
		
		@media (max-width: 991px) {
			position: relative;
		}
		
		img {
			display: block;
			width: 100%;
			margin: auto;
			
			@media (max-width: 991px) {
				width: 30%;
			}
			
			@media (max-width: 575px) {
				width: 50%;
			}
		}
	}
	
	.investidores-depoimento__texto {
		padding: 30px 50px;
		
		@media (max-width: 1199px) {
			padding: 30px 0 30px 15px;
		}
		
		@media (max-width: 991px) {
			text-align: center;
		}
		
		p {
			@include font-size(24px);
			font-family: $text-regular;
			text-overflow: ellipsis;
		}
		
		h4 {
			color: $color-three;
			font-family: $text-bold;
			@include font-size(20px);
			margin-top: 50px;
			
			&:before {
				content: '';
				display: block;
				width: 60px;
				height: 2px;
				background: $color-one;
				position: relative;
				top: -10px;
				
				@media (max-width: 991px) {
					left: 50%;
					@include transform(translatex(-50%));
				}
			}
		}
	}
}

.section-form-investidores {
	padding: 100px 0 0 0;
	
	.form-investidores {
		margin-bottom: 150px;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		text-align: left;
		background: rgba(26, 147, 178, .65);
		
		@media (max-width: 1199px) {
			width: 70%;
		}
		
		@media (max-width: 991px) {
			width: 100%;
			margin-left: 0;
		}
		
		h3 {
			@include font-size(30px);
			font-family: $text-bold;
			margin-bottom: 30px;
		}
		
		p {
			margin-bottom: 30px;
			line-height: 20px;
			@include font-size(20px);
			
			@media (max-width: 575px) {
				padding: 0;
			}
		}
		
		form {
			//width: 70%;
			//margin-right: auto;
			position: relative;
			
			@media (max-width: 575px) {
				width: 100%;
			}
			
			input {
				width: 100%;
				border: 0;
				border-bottom: 2px solid $color-one;
				background: transparent;
			}
			
			label {
				font-family: $text-bold;
				@include font-size(20px);
				display: block;
				margin: 15px 0;
			}
			
			.investimento-select {
				width: 100%;
				height: 40px;
				text-align: left;
				color: $color-one;
				@include font-size(18px);
				background: $color-three;
				border: 0;
				padding: 5px 20px;
				cursor: pointer;
				position: relative;
				
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: 15px;
					@include transform(translatey(-50%));
					
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6.9px 4px 0 4px;
					border-color: #ffffff transparent transparent transparent;
				}
			}
			
			ul {
				width: 100%;
				height: 40px;
				display: none;
				background: $color-three;
				color: $color-one;
				font-family: $text-regular;
				border: 0;
				position: absolute;
				z-index: 3;
				@include font-size(18px);
				
				li {
					font-family: $text-light;
					height: 40px;
					background: $color-two;
					padding: 10px 20px;
					border: 0;
					cursor: pointer;
					@include font-size(20px);
					
					&:hover {
						background: $color-three;
					}
				}
			}
			
			button {
				display: block;
				margin: auto;
			}
		}
		
		.form-campo-obrigatorio {
			text-align: left;
			padding: inherit;
			margin-top: 30px;
			font-family: $text-bold;
		}
	}
}