.banner-projetos {
	margin-top: 80px;
	background: url("../images/banner-projetos.png") no-repeat center;
	background-size: cover;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	h2 {
		color: $color-three;
		@include font-size(40px);
		text-transform: lowercase;
		font-family: $text-bold;
		
		&:after {
			content: '';
			display: block;
			width: 70px;
			margin: auto;
			height: 3px;
			background: $color-one;
		}
	}
}

.section-projetos-sobre {
	@include background-radial;
	padding: 50px 0 0 0;
	text-align: center;
	
	.projetos-sobre__texto {
		@include font-size(26px);
	}
	
	.projetos-slider {
		width: 85%;
		margin: 100px auto 50px auto;
		
		div {
			a {
				img {
					width: auto;
					max-width: 100%;
					display: block;
					margin: auto;
					opacity: .2;
					@include transition(.5s);
				}
				
				&:hover img {
					opacity: 1;
				}
			}
		}
	}
	
	.projetos-selecao-box {
		margin-top: 100px;
		margin-bottom: 100px;
		display: flex;
		align-items: center;
		text-align: left;
		width: 85%;
		margin-right: auto;
		margin-left: auto;
		
		@media (max-width: 991px) {
			flex-direction: column;
			width: auto;
			text-align: center;
		}
		
		.projetos-selecao-box__texto {
			width: 65%;
			
			@media (max-width: 991px) {
				width: auto;
			}
			
			.texto-destaque {
				@include font-size(36px);
				margin-bottom: 30px;
			}
			
			p {
				@include font-size(14px);
			}
		}
		
		.projetos-selecao-box__botao {
			width: 35%;
			padding-left: 50px;
			
			@media (max-width: 991px) {
				width: auto;
				margin-top: 35px;
				padding-left: 0;
			}
		}
	}
}