.banner-projetos {
	margin-top: 80px;
	background: url("../images/banner-projetos.png") no-repeat center;
	background-size: cover;
	height: 200px;
}

.section-projetos-sobre {
	@include background-radial;
	padding: 50px 0 0 0;
	text-align: center;
	
	.projetos-slider {
		width: 90%;
		margin: 20px auto 50px auto;
		
		div {
			height: 50px;
		}
	}
	
	.projetos-selecao-box {
		padding: 50px;
		border-radius: 50px;
		border: 3px solid $color-three;
		background: rgba(26, 147, 178, .4);
		margin-top: 50px;
		margin-bottom: 100px;
		display: flex;
		align-items: center;
		text-align: left;
		width: 75%;
		margin-right: auto;
		margin-left: auto;
		
		.box-texto {
			width: 65%;
			
			.texto-destaque {
				@include font-size(36px);
			}
			
			p {
				@include font-size(14px);
			}
		}
		
		.box-botao {
			width: 35%;
			padding-left: 50px;
		}
	}
}