*,
*:before,
*:after,
*:focus {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.005);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
}

html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	font-family: $text-light, sans-serif;
	height: 100%;
	font-size: 62.5%;
	color: $color-one;
}

body * {
	@include font-size(14px);
	font-weight: normal;
}

p {
	@include font-size(14px)
}

img {
	max-width: 100%;
	width: 100%;
}

a {
	color: $color-one;
	font-family: $text-bold;
}

input,
textarea {
	border: 0;
	background: transparent;
	font-family: $text-regular;
	@include font-size(16px);
}

a.btn-back {
	width: 45px;
	height: 45px;
	background: rgba(0, 0, 0, .8);
	position: fixed;
	z-index: 501;
	bottom: 25px;
	right: 25px;
	display: none;
	text-align: center;
	
	.arrow {
		position: relative;
		top: 20px;
		
		&:before,
		&:after {
			content: '';
			display: block;
			width: 15px;
			height: 3px;
			background: #fff;
			position: absolute;
		}
		
		&:before {
			transform: rotate(-45deg);
			right: -3px;
		}
		
		&:after {
			transform: rotate(45deg);
			left: -3px;
		}
	}
}

@media (min-width: 1440px) {
	.container {
		width: 85%;
		max-width: 1536px;
	}
}